<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii Art Generator</title>

    <link rel="stylesheet" href="/static/styles/index.css">

</head>
<body>
    <header>
        <img class="logo-img" src="../static/assets/images/aag_logo.png" alt="Ascii-Art-Logo" />
        <h1>ASCII ART GENERATOR</h1>
    </header>


    <h2>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z </h2>


    <form>
        <button type="button">Standard</button>
        <button type="button">Shadow</button>
        <button type="button">Thinkertoy</button>
        <br>
        <textarea text rows="15" cols="100"></textarea>
        <b>TYPE SOMETHING HERE</b>
    </form>

    <img class="arrow-down-img" src="../static/assets/images/arrow_down.png" alt="An arrow that points down to the output box" >
    <br>

    <pre></pre>
</body>
</html>