<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii Art Generator</title>

    <link rel="stylesheet" href="/static/styles/index.css">

</head>
<body>
    <header>
        <img src="../static/assets/images/aag_logo.png" alt="Ascii-Art-Logo" />
        <h1>ASCII ART GENERATOR</h1>
    </header>

    <!-- <pre class="letters">A     B     C     D     E     F     G     H     I     J     K     L     M     N     O     P     Q     R     S     T     U     V     W     X     Y     Z</pre> -->

    <form action="/" method="POST">
        <div class="banner-btn">
            <label>
                <input type="radio" name="banner" onchange="this.form.submit()" value="standard.txt" {{ if eq .BannerType  "standard.txt" }} checked {{ end }} />
                STANDARD
            </label>

            <label>
                <input type="radio" name="banner" onchange="this.form.submit()" value="shadow.txt" {{ if eq .BannerType  "shadow.txt" }} checked {{ end }} />
                SHADOW
            </label>

            <label>
                <input type="radio" name="banner" onchange="this.form.submit()" value="thinkertoy.txt" {{ if eq .BannerType  "thinkertoy.txt" }} checked {{ end }}/>
                THINKERTOY
            </label>
        </div>
        <br>
        <textarea name="user-input" rows="15" cols="100" placeholder="Type something here...">{{ .UserInput }}</textarea>
        <br>
        <input type="submit" value="GENERATE ART"/>
    </form>

    <img class="arrow-down-img" src="../static/assets/images/arrow_down.png" alt="An arrow that points down to the output box" />
    <br>

    <pre>{{ .AsciiArtOuput }}</pre>
</body>
</html>