/* Selector */
body {
    background-color: #90e0ef;
    margin: 0;
    text-align: center;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

header h1 {
    display: inline;
    font-size: 60px;
}

header img {
    width: 100px;
    height: 100px;
}

.letters {
    background-color: #FC0405;
    font-size: 20px;
    line-height: 45px;
    color: white;
}

.input-and-nudge-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
