/* Selector */
body {
    background-color: #90e0ef;
    margin: 0;
    text-align: center;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

header h1 {
    display: inline;
    font-size: 60px;
}

header img {
    width: 100px;
    height: 100px;
}

.letters {
    background-color: #FC0405;
    font-size: 20px;
    line-height: 45px;
    color: white;
}

form input[type="radio"] {
    visibility: hidden;
}

form label {
    border: 2px solid red;
    border-radius: 7px;
    padding-right: 21px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-right: 10px;
    margin-left: 10px;
    color: white;
    width: 150px;
}

label:has(input[type="radio"]:checked) {
    background-color: #4a4e69;
}

input[type="submit"] {
    margin-top: 10px;
    width: 200px;
    padding: 2px;
    font-size: 20px;
    background-color: #70e000;
    border-radius: 10px;
    color: blue;
}

textarea {
    padding: 10px;
    background-color: whitesmoke;
}

.banner-btn {
    background-color: #003049;
    width: 500px;
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 7px;
}

.arrow-down-img {
    height: 20px;
}

pre {
    background-color: whitesmoke;
    /* width: 1000px;
    margin: 0 auto; */
    padding: 25px;
    color: #22c55e;
    font-weight: bold;
}
